@for $i from 1 through 10 {
    .p-#{$i} {
        padding: $i * 0.25rem;
    }
    .pt-#{$i} {
        padding-top: $i * 0.25rem;
    }
    .pr-#{$i} {
        padding-right: $i * 0.25rem;
    }
    .pb-#{$i} {
        padding-bottom: $i * 0.25rem;
    }
    .pl-#{$i} {
        padding-left: $i * 0.25rem;
    }
}